*{
    padding: 0;
    margin: 0;
}

nav{
    border-radius: 15px;
    margin-top: 0.5%;
    height: 10vh;
    background:url(Images/img1.jpg);
    background-size: cover;
    background-position-y: 30%;
    /* font-size: 3em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px ;
}
nav a{
    text-decoration: none;
    color: blue;
    font-size: 25px;
}

.WelcomeText{
   
    
    height: 100vw;
    background: url(Images/img4.jpg);
    background-size: cover;
}
.WelcomeText h1{
    padding-top: 15%;
    text-align: center;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.WelcomeText p{
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-style: italic;
}
.memories{
    border-top: rgb(243, 214, 219) 5px solid;
    border-radius: 10px;
    height: 100vw;
    background: url(Images/img11.jpg);
    background-size: cover;
    overflow: hidden;
}
.memories h2{
    padding-top: 8%;
    text-align: center;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 50px;
}
.memories #photos{
    display: flex;
    justify-content:  flex-start;
    align-items:flex-end;
    gap: 30px;
    margin-top: 45%;
    img{
        border-radius: 15px;
        height: 300px;
        width: 400px;
        box-shadow: 2px 2px 10px #000000;
    }
    animation: slide 30s infinite alternate;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-385%);
    }
}
